.heading{
  color: #FFE6A5;
  height: 150px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding-top: 2%;
}
.img1{
  display: grid;
  grid-template-rows: 5fr 1fr;
}
.img2{
  display: grid;
  grid-template-rows: 5fr 1fr;
}
.names{
  font-size: 3rem;
  color:#FFBF61;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}
html{
  background-color: #605678;
}
h1{
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle{
  width: 100%;
  height: 300px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.features{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#btn{
  height: 50px;
  width: 100px;
  border-radius: 10%;
  background-color: #FFBF61;
  border-color: black;
  border-width: 3px;
  font-size: medium;
  font-weight: bold;
}
.player1{
  grid-area: 1/1/2/4;
  margin: 0%;
  padding: 0%;
  text-align: center;
  padding-top:10% ;
  padding-bottom: 10% ;
}
.player2{
  grid-area: 3/1/4/4;
  padding: 0%;
  margin: 0%;
  text-align: center;
  padding-top:5% ;
  padding-bottom: 10% ;
}
#vs{
  grid-area: 2/2/3/3;
  text-align: center;
  padding: 0%;
  margin: 0%;
}
.dice_img1{
  margin-left: 150px;
}
.dice_img2{
  margin-left: 50px;
}
#name_tag1{
  text-align: center;
  color: #FFBF61;
}
#name_tag2{
  margin-left: 150px;
  color: #FFBF61;
}
#winner{
  font-size: 20px;
  background-color: black;
}
footer{
  height: 80px;
  text-align: center;
  color:#8ABFA3;
  font-size: 100px;
}
#info{
  margin: 0%;
  display: none;
  color: #FFBF61;
}
#infoBtn{
  background-color: #FFBF61;
  border-radius: 20%;
  border-color: black;
  
}